@model MVCApplicationToDo.Models.MilestoneChain

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Milestone Chain</h4>

@if (ViewBag.SelectedProjectId != null && ViewBag.SelectedProjectTitle != null)
{
    <div class="container">
        <p>Projeto Selecionado: @ViewBag.SelectedProjectTitle</p>
    </div>
}
<form asp-action="Create" method="get">
    <div class="form-group col-3">
        <table>
            <tr>
                <td>
                    <input type="number" id="stepsInput" name="stepCount" class="form-control" placeholder="Número de steps" min="1" required />
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </td>
            </tr>
        </table>
    </div>
</form>

<hr />
<h5>Detalhes</h5>

<form asp-action="Create" method="post" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-2">
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control"/>
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    <div class="form-group col-md-6" style="margin-bottom: 30px;">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <br />
    <h5>Milestones Chain</h5>

    <div class="col-3">
        <table class="table col-md-2">
            <thead>
                <tr>
                    <th class="col-md-1 text-center">Step</th>
                    <th class="col-md-1 text-center">Progresso</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Milestones.Count; i++)
                {
                    <tr>
                        <td class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="Milestones[@i].Id" value="@Model.Milestones[i].Id" />
                                <input type="hidden" name="Milestones[@i].Order" value="@i" />
                                <select asp-for="Milestones[@i].MilestoneItemId" class="form-control small-select" asp-items="ViewBag.MilestoneItems">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </td>
                        <td class="col-md-1">
                            <div class="form-group">
                                <input type="number" name="Milestones[@i].Value" value="@Model.Milestones[i].Value" class="form-control" />
                                <span asp-validation-for="Milestones[@i].Value" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}